.Home {
    display: flex;
    flex-direction: column;
    width: 1520px;
}
.containerHome {
    display: flex;
    flex-direction: row;
    width: 1520px;
}
.rightcontainer {
    background-color: rgb(249, 248, 247);
    width: 1270px;
}
